@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Utiliza los botones de la izquierda para realizar diferentes gestiones.</p>
</div>

