USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 05/12/2023 07:54:27 p. m. ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[THT_CLIENTE]    Script Date: 05/12/2023 07:54:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THT_CLIENTE](
	[TN_IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[TC_Nombre] [varchar](60) NOT NULL,
	[TC_Ap1] [varchar](60) NOT NULL,
	[TC_Ap2] [varchar](60) NOT NULL,
	[TC_NumTelefono] [varchar](15) NOT NULL,
	[TC_CorreoElectronico] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[TN_IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THT_DETALLEHABITACION]    Script Date: 05/12/2023 07:54:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THT_DETALLEHABITACION](
	[TN_IdHabitacion] [int] NOT NULL,
	[TC_TamanoHabitacion] [varchar](60) NOT NULL,
	[TC_DscAmenidades] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_IdHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THT_HABITACION]    Script Date: 05/12/2023 07:54:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THT_HABITACION](
	[TN_IdHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[TC_NombreHabitacion] [varchar](100) NOT NULL,
	[TC_DscHabitacion] [varchar](150) NOT NULL,
	[TN_IdTipoHabitacion] [int] NOT NULL,
	[TB_Estado] [bit] NOT NULL,
	[TD_PrecioXNoche] [decimal](19, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_IdHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THT_RESERVACION]    Script Date: 05/12/2023 07:54:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THT_RESERVACION](
	[TN_NumReservacion] [int] IDENTITY(1,1) NOT NULL,
	[TN_IdCliente] [int] NOT NULL,
	[TN_IdHabitacion] [int] NOT NULL,
	[TF_FecInicio] [datetime] NOT NULL,
	[TF_FecFin] [datetime] NOT NULL,
	[TB_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_NumReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THT_TIPOHABITACION]    Script Date: 05/12/2023 07:54:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THT_TIPOHABITACION](
	[TN_IdTipoHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[TC_NomTipoHabitacion] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_TipoHabitacion] PRIMARY KEY CLUSTERED 
(
	[TN_IdTipoHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THT_USUARIO]    Script Date: 05/12/2023 07:54:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THT_USUARIO](
	[TN_IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TC_Nombre] [varchar](50) NOT NULL,
	[TC_NombreUsuario] [varchar](50) NOT NULL,
	[TC_Clave] [varchar](90) NOT NULL,
	[TC_Correo] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[THT_DETALLEHABITACION]  WITH CHECK ADD FOREIGN KEY([TN_IdHabitacion])
REFERENCES [dbo].[THT_HABITACION] ([TN_IdHabitacion])
GO
ALTER TABLE [dbo].[THT_HABITACION]  WITH CHECK ADD FOREIGN KEY([TN_IdTipoHabitacion])
REFERENCES [dbo].[THT_TIPOHABITACION] ([TN_IdTipoHabitacion])
GO
ALTER TABLE [dbo].[THT_RESERVACION]  WITH CHECK ADD FOREIGN KEY([TN_IdHabitacion])
REFERENCES [dbo].[THT_HABITACION] ([TN_IdHabitacion])
GO
ALTER TABLE [dbo].[THT_RESERVACION]  WITH CHECK ADD FOREIGN KEY([TN_IdCliente])
REFERENCES [dbo].[THT_CLIENTE] ([TN_IdCliente])
GO
USE [master]
GO
