@model List<Hotel.WebApp.Models.Habitacion.HabitacionDTO>
@{
    ViewData["Title"] = "Habitaciones";
}
<section class="content-header">
    <div class="text-center">
        <h1>GESTIONAR HABITACIONES</h1>
    </div>
</section>

<section class="content invoice">

    @{
        await Html.RenderPartialAsync("_HabitacionTablePartial", Model);
    }

    <div class="">
        <a asp-controller="Habitacion"
           asp-action="Crear"
           class="btn btn-primary">Crear Nuevo</a>
    </div>
</section>

@section Scripts{
    <script src="~/js/habitacion.js"></script>

    @if (TempData["ActionResult"] != null)
    {
        <script>
            toastr["success"]("@TempData["ActionResult"].ToString()", "@TempData["ActionResultType"].ToString()")
        </script>
    }
}